<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyNotes</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel = "stylesheet" href="/assets/css/style.css">

</head>
<body>
    <!-- left sidebar -->
    <div class="sidebar">
        <img src="/assets/img/logo2.png">
        <div th:each="list: ${lists}">
            <a th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
        </div>
        <a th:href="@{/addlist}">Add new topic...</a>
    </div>

    <!-- content -->
    <div class="main" align="center">
         <h1 th:utext="${currentList.getName()}"></h1>
         <form action="#" th:action="@{/list/{id}/delete (id=${currentList.getId()})}">
             <button type="submit" class="btn btn-outline-danger">Remove this topic</button>
         </form>
        <!--
        <a th:href="@{/addtask}">
            <button type="submit" class="btn btn-outline-primary">Add Task</button>
        </a>
        -->
        <div th:each="task: ${tasks}">
            <input type="checkbox">
            <label th:utext="${task.getTitle()}"></label>
        </div>

        <form metod="post" action="/list/task">
            <input type="hidden" name="parent_id" th:value="${currentList.getId()}">
            <input type="text" name="title">
            <button type="submit" class="btn btn-outline-success">Add Task</button>
        </form>
    </div>
</body>
</html>